table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: #dddddd;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background: #dddddd;
}

form {
    background: #dddddd;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.form-title {
    width: max-content;
    padding: 4px;
}

.inputs {
    display: grid;
    width: 100%;
    margin: 1%;
}

.input-buttons {
    display: grid;
    width: 20%;
}

button {
    margin: 4%;
}

.row-title {
    width: 10%;
}

.error {
    font-size: xx-large;
    color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}